@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@font-face {
    font-family: 'Nanum Myeongjo', serif;
}

.container {
    padding: 5% 0;
    margin-right: 33%;
    padding-top: 3%;

    
    display: flex;
    justify-content: right;
    align-items: right;
}

.titles {
    margin: 18px;
}

.links {
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
}

ul {
    width: 75px;
    list-style-type: none;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 18px;
    margin-right: 18px;
}

li {
    text-align: left;
}

.child {
    display: inline-block;

    border-top: 30px solid;
    border-color: #B7E1EA;

    margin: 10px;

}

#main {
    height: 300px;
    background-color: #E3FFFF;
}

#headshot {
}

img {
    height: 600px;
}

h1 {
    margin: auto;
}

a {
    text-decoration: none;
    color:#000000;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;

    background: url(images/train.gif);
}
